<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>EPUB2BBCode</name>
<type>edit</type>
<author>Gemini Pro</author>
<description>EPUB正文提取为BBCode格式TXT</description>
<engine>python3.4</engine>
<version>1.1.4</version>
<autostart>true</autostart>
<autoclose>true</autoclose>
<oslist>osx,win,unx</oslist>
</plugin>
